<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <%= "Daily Writer is blogging site for the people who wants to post daily thoughts in form of blog post or maybe use this as note taking app." %>
    <%- include('./partials/scripts') %>
  </body>
</html>